

.rating {
    display: flex;
    align-items: center;
}

.rating i {
    font-size: 24px;
    cursor: pointer;

}

.rating i.fas {
    color: #d35f06;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background: #f7f7f7;
}

.comment-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.comment-actions button {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#commentInput {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-content {
    margin-top: 10px;
}

#starRating {
    font-size: 24px;
    color: #d35f06;  /* Màu vàng cho số sao đã được đánh giá */
}

.rating-label {
    color: #333;
    font-weight: bold;
}

#userReview {
    display: none;
}

h3 {
    color: #333;
}
.avatar {
    width: 40px; /* Điều chỉnh kích thước avatar tùy theo nhu cầu */
    height: 40px; /* Điều chỉnh kích thước avatar tùy theo nhu cầu */
    border-radius: 50%; /* Tạo khung hình tròn */
    overflow: hidden; /* Loại bỏ nội dung vượt ra ngoài khung hình tròn */
    float: left; /* Đặt avatar bên trái tên người bình luận */
    margin-right: 10px; /* Tạo khoảng cách giữa avatar và tên người bình luận */
}
